global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # Más adelante añadiremos aquí los jobs de nuestros servicios (gateway, traffic, etc.)